:host .widget {
  margin: 35px 0px;
  border-radius: 10px;
  padding: 20px;
  background-size: cover;
  border: 2px solid black;
}
:host .widget .top-row {
  display: flex;
}
:host .widget .top-row .title {
  flex-grow: 1;
}
:host .widget .top-row .date {
  margin-left: 15px;
}
:host .widget.sun {
  color: white;
  background-image: url('../../assets/sun2.jpg');
}
:host .widget.rain {
  color: rgba(0, 0, 0, 0.8);
  background-image: url('../../assets/rain.jpg');
}
@media (max-width: 600px) {
  .top-row {
    flex-direction: column-reverse;
  }
  .top-row .date {
    margin-left: 0px !important;
    margin-bottom: 0px;
  }
}
