<mat-toolbar color="primary" fixed>
    
    <div class="left">
        <mat-icon>thermostat</mat-icon>
        <span>Weather!</span>
    </div>

    <div 
        class="right buttons" 
        *ngIf="locations.selectedLocation$ | async as sl"
    >
        <button 
            mat-button
            color="secondary"
            *ngFor="let location of locations.locations$ | async"
            [class.selected]="location === sl"
            (click)="onClick(location)"
        >
            {{location.name}}
        </button>
    </div>

    <div 
        class="right menu"
        *ngIf="locations.selectedLocation$ | async as sl"
    >
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button
                mat-menu-item
                *ngFor="let location of locations.locations$ | async"
                [class.selected]="location === sl"
                (click)="onClick(location)"
            >
                {{location.name}}
            </button>
        </mat-menu>    
    </div>

</mat-toolbar>