:host {
    // position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .left {
        display: flex;
        align-items: center;
    }
    .right {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
    }
    button.selected {
        border: 1px solid white;
    }
}