:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
:host .left {
  display: flex;
  align-items: center;
}
:host .right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
:host .right.menu {
  display: none;
}
:host button.selected {
  border: 1px solid white;
}
@media (max-width: 600px) {
  .right.buttons {
    display: none !important;
  }
  .right.menu {
    display: flex !important;
  }
}
