<app-toolbar></app-toolbar>

<div class="widgets" *ngIf="weather.weeklyWeatherConditions$ | async as weatherConditions; else errorMessage">
    <h1 
        class="title"
        *ngIf="locations.selectedLocation$ | async as loc"
    >
        {{loc.name}}
    </h1>
    <app-widget
        *ngFor="let wo of weatherConditions"
        [weatherObject]="wo"
    ></app-widget>
</div>

<ng-template #errorMessage>
    <p>
        We're having some issues loading the weather!
    </p>
    <p>
        Try again later.
    </p>
    
</ng-template>