<div class="buttons">
    <button 
        *ngFor="let location of locations.locations$ | async"
        (click)="onClick(location)"
    >
        {{location.name}}
    </button>    
</div>

<div *ngFor="let wc of weather.weeklyWeatherConditions$ | async">
    <h1>
        {{wc.description | capitalise}}
    </h1>
    <p>
        Temp: {{wc.temperature.min | celsius}} - {{wc.temperature.max | celsius}}
    </p>
    <p>
        Humidity: {{wc.humidity  | percentage}}
    </p>
    <p>
        Chance of rain: {{wc.chanceOfRain * 100 | percentage}}
    </p>
</div>